nav ul li {
    font-family: "WorkSans";
    font-weight: 700;
  }
  
 
  h1 {
    font-size: 42px;
    font-family: "Righteous";
  
  }
  
  h2 {
    font-size: 15px;
    font-weight: normal;
    font-family: "Righteous";
 
  }
  
  h3 {
    font-size: 28px;
    line-height: 28px;
    font-family: "Righteous";
  }
  
  h4 {
    font-family: "Righteous";
    font-size: 18px !important;
  }
  
  p {
    font-family: 'WorkSans';
    font-size: 16px;
    line-height: 22px;
  }
  
  a {
    // Aquí puedes agregar estilos generales para los enlaces si es necesario
    font-family: 'WorkSans';
    color: $color-white;
    font-size: 16px;

  }
  span{
    font-family: 'WorkSans';
  }
  
  