/* RESPONSI */

/* Dispositivos tablet */
@media screen and (max-width: 1024px) {

    /* Navegación */
    nav {
      display: block;
  
      &.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px; /* Añadir "px" para que el valor funcione correctamente */
        background-color: $color-background-tarjetas-icon;
        width: 180px;
  
        ul {
          display: block !important;
  
          li {
            border-bottom: 1px solid $color-white;
            padding: 10px 0;
          }
        }
      }
    }
  
    .nav-responsive {
      display: block;
    }
  
    /* Sobre mí */
    .sobremi {
      .fila {
        display: flex;
      }
  
      .contenido-seccion {
        width: 100%;
        margin: auto;
      }
    }
  
    /* Skills */
    .skills {
      .fila {
        display: flex;
        flex-direction: column;
  
        .col {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  
    /* Currículum */
    .curriculum {
      .contenido-seccion {
        width: 100%;
        margin: auto;
      }
  
      .fila {
        display: flex;
        flex-direction: column;
  
        .col {
          width: 100%;
          margin-bottom: 30px;
        }
  
        .izq {
          border-right: 2px solid #1CB698;
          margin-right: 20px;
        }
  
        .der {
          margin-right: 20px;
        }
      }
    }
  
    /* Contacto */
    .contacto {
      .contenido-seccion {
        width: 100%;
        margin: auto;
      }
  
      .fila {
        display: flex;
        flex-direction: column;
  
        .col {
          width: 100%;
          margin-bottom: 30px;
  
          iframe {
            width: 100%;
            height: 560px;
          }
  
        
        }
      }
    }
  }
  

/* Dispositivos móviles */
@media screen and (max-width: 767px) {

    /* Sobre mí */
    .sobremi {
      .fila {
        display: block;
      }
  
      .contenido-seccion {
        width: 100%;
        margin: auto;
      }
    }
  
    /* Contenedor de intereses */
    .contenedor-intereses {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
      gap: 10px; /* Espacio entre los elementos */
  
      .interes {
        padding: 10px;
      }
    }
  }
  

