:root {
    --color-primary: #1e2326;
    --color-secundary: #1CB698;
    --color-white: #fff;
    --color-black: #000000;
    --color-background-tarjetas-icon: #252A2E;
    --color-background-barras-skill: #131517;
    
    --color-background-transparent: #00FF0000;

}